/* Google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
/* Body styles  */
body{
    font-family: 'Poppins', sans-serif;
}


.premium-content{
    background-color: #3F87F5;
    border-radius: 26px;
    position: relative;

}
.hot-text{
    background-color: #FF4E4E; ;
    padding: 2px 5px;
    border-radius: 15px;
    position: relative;
    top: -25px;
    float: right;
    
}
footer{
    background-color: black;
    color: white;
}