/* Google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
/* Body styles  */
body{
    font-family: 'Poppins', sans-serif;
}
.slider-img{
    filter: blur(1px);
}

.wedding-package{
    background-color: #3F87F5;
    color: white;
    border-radius: 26px;
    position: relative;
    transform: scale(1.1);
} 
.together-btn{
    background-color:#FF4E4E ;
}
.package-btn{
    background-color:#ffbce6;
    color:  #3F87F5;
}
.fa-check-circle{
    color: #5243C2;
    background-color: #5243c20c;
}

.venue-select{
   height: 400px;
   
}
footer{
    background-color: black;
    color: white;
}


@media only screen and (max-width:768px) {
    .img-heading h1{
        color: rgb(255, 255, 255);
        font-size: 16px;

    }
    .img-heading p{
        
        font-size: 8px;

    }
    .img-heading a{
        color: blue;
    }
    .venue-select{
        height: auto;
        
     }
    .small-device{
        display: flex;
        flex-direction: column;
    }
    .copyright{
        order: 1;
        font-size: 12px;
        text-align: center;
    }

    
}